.info {
    width: 300px;
    height: 50px;
    font-size: 24px;
    line-height: 50px;
    color: #aaa;
    text-align: center;
    background-color: #44a4bb;
}

.outer {
    padding: 15px;
    border: 1px solid #0f0;
}

.state {
    .info();
}

.ref {
    .info();
}
