.m-button {
    display: inline-block;
    height: 50px;
    padding: 0 1em;
    margin-top: 20px;
    font-size: 26px;
    line-height: 50px;
    color: #a20adf;
    text-align: center;
    background-color: #91ee7a;
    border-radius: 25px;
    box-shadow: 2px 5px 10px rgba(150, 93, 93, 0.5);
}
