@color: #0c30ee;

body {
    color: @color;
    font-size: 24px;
}

.search-text {
    color: @color;
}

.div1 {
    height: 51px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 50%;
    background-image: linear-gradient(#bf46ee, #eeeeee);
}
